<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.muteki.core.pc.system.mapper.SysErrorMapper">
    <select id="getList" resultType="SysError">
        SELECT *
        FROM `sys_error`
        <if test="null != search and '' != search">
            WHERE
            POSITION(#{search} IN `class_name`)
            OR POSITION(#{search} IN `method_name`)
            OR POSITION(#{search} IN `content`)
            OR POSITION(#{search} IN `remark`)
            OR `create_time` LIKE CONCAT(#{search},'%')
        </if>
        ORDER BY `create_time` ${createTimeSort}
    </select>
</mapper>