<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiziplus.muteki.core.pc.system.mapper.SysFunctionMapper">
    <select id="getMinNotSuperMenuParentIdByRoleIds" resultType="Integer">
        SELECT sf.parent_id
        FROM `sys_function` sf
        INNER JOIN `sys_role_function` srf ON sf.id = srf.function_id
        WHERE sf.super_flag = 1 AND sf.type = 1 AND srf.role_id IN (
        <foreach collection="roleIds" item="roleId" separator=",">
            #{roleId}
        </foreach>
        )
        ORDER BY sf.parent_id
        LIMIT 1
    </select>
    <select id="getNotSuperMenuListByRoleIds" resultType="SysFunction">
        SELECT sf.*
        FROM `sys_function` sf
        INNER JOIN `sys_role_function` srf ON sf.id = srf.function_id
        WHERE sf.super_flag = 1 AND sf.type = 1 AND srf.role_id IN (
        <foreach collection="roleIds" item="roleId" separator=",">
            #{roleId}
        </foreach>
        )
        ORDER BY sf.sort ,sf.create_time DESC
    </select>
    <select id="getNotSuperButtonSetByRoleIds" resultType="String">
        SELECT sf.name
        FROM `sys_function` sf
        INNER JOIN `sys_role_function` srf ON sf.id = srf.function_id
        WHERE sf.super_flag = 1 AND sf.type = 2 AND srf.role_id IN (
        <foreach collection="roleIds" item="roleId" separator=",">
            #{roleId}
        </foreach>
        )
    </select>
</mapper>